@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Lato|Rubik&display=swap');

body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

.heading {
    padding: 0;
}


#select1,
#select2 {
    width: 100%;
    margin: auto;
}

/*.intro {
    background: url("images/jamie-esker-celtic.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}*/

p {
    text-align: center;
    margin: 0 20px 10px;
    font-family: 'Lato', sans-serif;
}

.intro p {
font-family: 'Rubik', sans-serif;

}

h1 {
    font-family: 'Bowlby One', cursive;
    background-color: #3b89cf;
    color: #fff;
    padding: 20px 20px;
}

h1 span {
    color: #ab8b4d;
}

h5 {
    text-align: center;
    margin: 10px 0px 0px;
}

.dc-select-menu {
    margin-bottom: 10px;
    background-color: blue;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}

.chart {
    
    border: 3px solid blue;
    border-radius: 25px;
}

/*---------------------------------------------------------*/